<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <description>Logging flag</description>
        <param-name>logging</param-name>
        <param-value>@logging@</param-value>
    </context-param>

    <listener>
        <listener-class>org.webpki.webapps.csf_lab.CSFService</listener-class>
     </listener>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>org.webpki.webapps.csf_lab.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>org.webpki.webapps.csf_lab.CreateServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>org.webpki.webapps.csf_lab.ValidateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>

</web-app>
