
.webpkitable {border-collapse:collapse;box-shadow:0.2em 0.2em 0.2em #d0d0d0;margin:0.6em 0 0 0}
.webpkitable td {background-color: #fffdf2;padding: 0.4em 0.5em;border-width: 1px;border-style: solid; border-color: black}
.webpkitable th {padding: 0.4em 0.5em;background-color: #f8f8f8;text-align: center;border-width: 1px;border-style: solid; border-color: black}

.webpkisvg, .webpkibox, .webpkicomment  {
  box-shadow: 0.2em 0.2em 0.2em #d0d0d0;
  border-width: 1px;
  border-style: solid;
  border-color: black';
}

.webpkicomment {
  padding: 0.5em 1em;
  display: inline-block;
  background-color: #fafffa
}

.webpkilistspacing {
  padding-bottom: 0.7em;
}

.webpkisvg {
  display: inline-block;
}

.webpkibox {
  padding: 0.8em 1em;
  word-break: break-all;
  font-family: "Noto Mono",monospace;
}

.webpkicode {
  color:maroon;
}

.webpkihighlite {
  background: black;
  color: white;
}
